@import url("theme.css");
body, html{
	height: 100%;
	margin: 0;
	text-align: center;
}


.bg {
	background-image: url("./us.png");
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:50%; 
}
#tempLoginButton{
    text-align: center;
}
button {
    top: 50%;
    font-size: 2em;
	line-height: 0.9em;
	background-color: var(--primary-light);
}
