/*#B79486   #9965F4    #EFE5FD*/
* {box-sizing: border-box}
.extra-info{  color:#B79486;}
.box{margin-left:30%;}
.header{
	background:#9965F4;
	color:white;
	 padding: 5px;
}

/* input fields */
  input[type=text], input[type=password] {
  width: 65%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #9965F4;
  margin-left:-4%;
  margin-bottom: 25px;
  width:77%;
}

/* Sign up button */
button {
  background-color:#9965F4 ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 65%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
