:root {
    --primary: #03A9F4;
    --primary-light: #81D4FA;
    --primary-dark: #01579B;
    --secondary: #FFCC80;
    --dark: #212121;
	--fuck: rgb(200,200,200);
    --light: #FAFAFA;
	--faint: grey;
}
